<!DOCTYPE html>
<html>

<head>
	<title>Twitter DB</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body>
	<div class="title_div">
		<h1>Search Twitter DB</h1>
	</div>

	<div class="search_div">
		<div class="outer_div1">
			<div class="search_type_div">
				Search type:<br>
				<input type="radio" name="search_type" value="string" checked> String<br>
				<input type="radio" name="search_type" value="hashtag"> Hashtag<br>
				<input type="radio" name="search_type" value="user"> User<br>
			</div>
			<div class="search_date_div">
				Search date:<br>
				Start
				<input type="datetime-local" id="start_date" name="start_date">
				<br>
				End
				<input type="datetime-local" id="end_date" name="end_date">
			</div>
		</div>
		
		<div class="outer_div2">
			<div class="search_word_div">
				Enter search word
				<input type="text" id="search_word" name="search_word">
			</div>
			<div class="search_btn_div">
				<button id="search_btn">Search DB</button>
			</div>
		</div>
	</div>

	<br><br>

	<div id="fetch_time"></div><br>
	<div id="result_len"></div><br>
	<div id="content" class="content"></div>


	<script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>